.absolute {
  position: absolute
}

.relative {
  position: relative
}

.bottom-40 {
  bottom: 10rem
}

.left-5 {
  left: 1.25rem
}

.top-3 {
  top: 0.75rem
}

.right-0 {
  right: 0px
}

.right-5 {
  right: 1.25rem
}

.h-full {
  height: 100%
}

.h-10 {
  height: 2.5rem
}

.h-14 {
  height: 3.5rem
}

.h-12 {
  height: 3rem
}

.w-52 {
  width: 13rem
}

.w-10 {
  width: 2.5rem
}

.w-14 {
  width: 3.5rem
}

.w-20 {
  width: 5rem
}

.flex-1 {
  flex: 1 1 0%
}

.flex-row {
  flex-direction: row
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.rounded-2xl {
  border-radius: 1rem
}

.rounded-full {
  border-radius: 9999px
}

.bg-blue-200 {
  --tw-bg-opacity: 1;
  background-color: rgb(191 219 254 / var(--tw-bg-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.pt-12 {
  padding-top: 3rem
}

.text-center {
  text-align: center
}

.font-semibold {
  font-weight: 600
}

.text-blue-800 {
  --tw-text-opacity: 1;
  color: rgb(30 64 175 / var(--tw-text-opacity))
}
